<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <form [formGroup]="form">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Telefone</ion-label>
      <ion-input formControlName="telefone" ></ion-input>
    </ion-item>
  </form>
  <button ion-button outline (click)="salvarValores()">Salvar</button>
  <button ion-button outline (click)="goToHome()">Voltar</button>
</ion-content>
